pipeline/full_load_all_stg_raw.json
{
	"name": "full_load_all_stg_raw",
	"properties": {
		"activities": [
			{
				"name": "stg_raw",
				"description": "This is to get the file and folder details from stg to raw",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select src_folder from [dbo].[stg_raw];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "config_stg_raw",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_file_stg_raw",
				"description": "this is to process for each file from lookup array and copying to raw.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "stg_raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('stg_raw').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyStgToRaw",
							"description": "This is for copying data from stage to raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "src_files",
									"type": "DatasetReference",
									"parameters": {
										"srccontainer": {
											"value": "@item().src_container",
											"type": "Expression"
										},
										"srcfolder": {
											"value": "@item().src_folder",
											"type": "Expression"
										},
										"srcfilename": {
											"value": "@item().src_filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "src_target",
									"type": "DatasetReference",
									"parameters": {
										"destinationcontainer": {
											"value": "@item().destination_container",
											"type": "Expression"
										},
										"destinationfolder": {
											"value": "@concat(item().destination_folder,'/',utcNow('yyyy-MM-dd'))",
											"type": "Expression"
										},
										"destinationfile": {
											"value": "@item().destination_filename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LogsOnSuccess",
							"description": "This is to insert logs on success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyStgToRaw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						},
						{
							"name": "LogsOnFailure",
							"description": "This is to insert logs on failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyStgToRaw",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						},
						{
							"name": "DeleteStgData",
							"description": "This Step is to delete the staging data.",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CopyStgToRaw",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "delete_ds_stage",
									"type": "DatasetReference",
									"parameters": {
										"folders": {
											"value": "@item().src_folder",
											"type": "Expression"
										}
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Full_load_stg_raw"
		},
		"annotations": []
	}
}